

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List From GoRest</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
        }
        h1 {
            text-align: center;
            margin-bottom: 20px;
        }
        .container {
            display: flex;
            justify-content: space-around;
        }
        .action-button {
            padding: 10px 20px;
            margin: 10px;
            background-color: #008CBA;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .user-list {
            width: 50%;
            margin: 0 auto;
        }
        .user-list table {
            width: 100%;
            border-collapse: collapse;
        }
        .user-list th, .user-list td {
            padding: 10px;
            border-bottom: 1px solid #ddd;
            text-align: left;
        }
        .user-list th {
            background-color: #4CAF50;
            color: white;
        }
        .user-list tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        .user-list tr:hover {
            background-color: #ddd;
        }
    </style>
</head>
<body>

<h1>Users From GoRest</h1>

<div class="container">
    <div class="user-list">
        <h2>GoRest User List</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody id="userTableBody">
                
            </tbody>
        </table>
    </div>
</div>

<script>
    
    $(function () {
        getUsers();
    });

    function getUsers() {
        $.ajax({
            url: 'https://gorest.co.in/public/v2/users/',
            type: 'GET',
            success: function (data) {
                
                
                renderUserTable(data);
            },
            error: function (xhr, status, error) {
                
                console.error('Error:', error);
            }
        });
    };
    function saveUser(user){
        $.ajax({
        url: '/User/AddUser/',
        data: user, 
        type: 'POST',
        success: function (data){ },
        error: function (xhr, status, error){
            console.error('Error', error);}
        });
    }

    function renderUserTable(users) {
        var tableBody = $('#userTableBody');
        tableBody.empty();
        users.forEach(function (user) {
            
            $(function (){
                saveUser(user);
            });
            var row = $('<tr>');
            row.append('<td>' + user.id + '</td>');
            row.append('<td>' + user.name + '</td>');
            row.append('<td>' + user.email + '</td>');
            row.append('<td>' + user.gender + '</td>');
            row.append('<td>' + user.status + '</td>');
            tableBody.append(row);
        });
    }
</script>

</body>
</html>
